* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  body {
    padding: 30px 50px;
  }
  h1 {
    margin-bottom: 100px;
  }
  h2 {
    margin-bottom: 50px;
  }
  /* スライドする要素 */
  .content {
    width: 300px;
    height: 300px;
  }

  /*********************************/
  /*ここを画像にする*/
  .content:nth-child(1) {
    background-color: red;
  }
  .content:nth-child(2) {
    background-color: yellow;
  }
  .content:nth-child(3) {
    background-color: blue;
  }
  .content:nth-child(4) {
    background-color: green;
  }
/**********************************/


  /* スライドレールの枠 */
  .wrap {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 340px;
    margin-bottom: 100px;
  }

  /* content4つをまとめたスライドブロック */
  .slideshow {
    display: flex;
    -webkit-animation: loop-slide 20s infinite linear 1s both;
    animation: loop-slide 20s infinite linear 1s both;
  }
  @-webkit-keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
 
  /* ホバー時の装飾 */
  .content-hover {
    transition: all 0.2s;
    margin-right: 20px;
  }
  .content-hover:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }